{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="{% static 'js/jquery.js' %}"></script>
        <link href="{% static 'css/table-style.css' %}" rel="stylesheet" />
        <script src="{% static 'js/jspdf.umd.min.js' %}"></script>
        <!--<script src="{% static 'js/jspdf.min.js' %}"></script>-->
        <script src="{% static 'js/jspdf.plugin.autotable.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.5/dist/html2canvas.min.js"></script>
    </head>
    <body>
        {{tests|json_script:"tests"}}
        <div id="ppb-table"></div>
        <button id="pdfButton">Convert to PDF</button>
        <button id="testButton" onclick="javascript:demoFromHTML()">Test</button>
    
        <script src="{% static 'js/tablestyle.js' %}"></script>
    </body>
</htmL>