/django_project/confSQL.py
/db.sqlite3
/django_project/*
/app_tabulator/__pycache__/*
/app_tabulator/__pycache__/*
/app_tabulator/migrations/__pycache__/__init__.cpython-39.pyc
/django_app/__pycache__/
