#ppb-table {
    width: 1200px; 
    background-color: green;
}

#main-table {    
    border-spacing: 0px;
    border-collapse: separate;
    border: 1px solid #999;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

#headline, .header, .test, .table-tree-control {
    cursor: pointer;
}

#headline td {    
    height: 24px;
    font-size: 14px;
    font-weight: 700; 
    color: white;
    background-color: #005797;
    text-align: center;
    padding: 0px;
    margin-left: 0px;
    text-overflow: ellipsis;
}
#headline-Name, #headline-Datum, #headline-Start, #headline-Stop, #headline-Gesamtzeit, #headline-Abrechnungsart, #headline-Beendet, #headline-Prüfer {
    border-right: 1px solid #999;
}

.header {    
    height: 24px;
    font-size: 20px;
    font-weight: bold;
    text-overflow: ellipsis;
    background-color: #f3f3f5;   /*#efefef*/
}

.level0 td {    
    padding: 16px 0px 4px 8px;
}

.level1 td {    
    padding: 4px 0px 4px 4px;
}

.level2 td {    
    padding: 4px 0px 4px 2px;
}

.level3 td {    
    padding: 4px 0px 4px 2px;
}

.test {    
    font-size: 12px;
    font-weight: 800;
    height: 30px;
    padding: 4px;
    text-overflow: ellipsis;
    background-color: #f3f3f5;   /*#efefef*/
    text-transform: uppercase;
}

.test td, .ppb td {
    
    border-bottom: 1px solid #ebebeb;
}

.header:hover, .test:hover, .ppb-name-dd-item:hover, .ppb-invoice-dd-item:hover {
    background-color: #bbbbbb;
}

.ppb {    
    height: 24px;
    font-size: 14px;
    background-color: white;
    padding: 0px;
    text-overflow: ellipsis;
}

.ppb td {    
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ppb-name {
    color: lightgray;
}

.ppb-name, .ppb-operator, .ppb-date, .ppb-start, .ppb-stop, .ppb-isTestFinished, .ppb-invoiceType, .ppb-totalTime  {
    border-right: none; /*1px solid #999;*/
}

.table-tree-branch {    
    display: inline-block;
    margin-top: -9px;
    vertical-align: middle;
    height: 9px;
    width: 7px;
    margin-right: 5px;
    border-bottom-left-radius: 1px;
    border-left: 2px solid #aaa;
    border-bottom: 2px solid #aaa;   
}

.table-tree-control {
    width: 11px;
    height: 11px;
    border: 1px solid black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    background: rgba(0, 0, 0, .1);
    margin-top: 2px;
    vertical-align: middle;
    margin-top: -3px;
    font-size: 14px;
}

.table-tree-control-expand, .table-tree-control-collapse {
    height: 7px;
    width: 1px;
}

.table-tree-control-expand {    
    background-color: transparent; 
}

.table-tree-control-collapse {   
    background-color: black;
}

.table-tree-control-collapse::after, .table-tree-control-expand::after {  
    position: absolute;
    content: "";
    height: 1px;
    width: 7px;
    background: black;
    margin-top: 3px;
    margin-left: -3px;
}

.svgCheck {
    cursor: pointer;
}

.start-edit, .stop-edit, .comment-edit, .date-edit, .operator-edit {
    text-align: center;
    height: 100%;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 14px;
}

.ppb-start text {
    color: green;
}

.ppb-cellValue{
    margin: 0px;
    padding: 0px;
}


.ppb-p {
    display: inline;
    height: 24px;
    font-size: 14px;
    background-color: white;
    padding: 0px;
    text-overflow: ellipsis;
}

.ppb-name-dd, .ppb-invoice-dd {
    list-style-type: none;
    position: absolute;
    margin-left: -3px;
    padding: 0px;
    border: 1px solid black;
    z-index: 200;
    display: none;
}

.ppb-name-dd-item, .ppb-invoice-dd-item {
    margin: 0px;
    /*width: 13rem;*/
    height: 14px;
    padding: 4px;
    cursor: pointer;
}

.ppb-name-dd-item {
    text-overflow: ellipsis;
    background-color: #f3f3f5;
    text-transform: uppercase;
    color: black;
    font-size: 12px;
    font-weight: 800;
}

.ppb-invoice-dd-item {  
    text-overflow: ellipsis;
    background-color: #f3f3f5;
    color: black;
    font-size: 14px;
    text-align: left;
    /*font-weight: 800;*/
}